<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244228170622-2pr4cb3g2j0dv739eo2dlcthoc916al2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244228170622-2pr4cb3g2j0dv739eo2dlcthoc916al2</string>
	<key>API_KEY</key>
	<string>AIzaSyCR_iou96xN9zTRCZjYKCAnpGPLR3GTCco</string>
	<key>GCM_SENDER_ID</key>
	<string>244228170622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mwpProcess</string>
	<key>PROJECT_ID</key>
	<string>mwp-process</string>
	<key>STORAGE_BUCKET</key>
	<string>mwp-process.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244228170622:ios:41ad669afb20bce3ac492f</string>
</dict>
</plist>